<%- include('header') %>

  </nav>
  <div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card shadow" style="width: 14rem; background-color: #ff96ad;">
            <div class="card-body">
                <h5 class="card-title">Today's Cases</h5>
                <p class="card-text"><%= recoveredNew + activeCasesNew + deathsNew %> </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card shadow" style="width: 14rem; background-color: #51c4d3;">
            <div class="card-body">
                <h5 class="card-title">Total Active Cases</h5>
                <p class="card-text"><%= activeCases%> </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3  col-sm-6">
        <div class="card shadow" style="width: 14rem; background-color: #a8ee90;">
            <div class="card-body">
                <h5 class="card-title">Recovered</h5>
                <p class="card-text"><%= recovered %> (<%= recoveredNew %> &uarr;) </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3  col-sm-6">
        <div class="card shadow" style="width: 14rem; background-color: #FA8072;">
            <div class="card-body">
                <h5 class="card-title">Deaths</h5>
                <p class="card-text"><%= deaths%> (<%= deathsNew %> &uarr;)</p>
            </div>
        </div>
    </div>
</div>
</div>

<div class="marque">
  <marquee behavior="scroll" scrollamount="10" direction="left">Total number of tests during the previous day
    <%= tests/100000 %> Lakhs
  </marquee>
  <marquee behavior="scroll" scrollamount="10" direction="right">(↑↓ Status change since yesterday) Last updated at
    <%= lastUpdated %> </marquee>
</div>

<form action="/" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" name="search" placeholder="Search for a State Statistics"
      autocomplete="off">
    <a href="/views/state.ejs"><button type="submit" class="btn btn-success">Search</button></a>
  </div>
</form>

</body>


<%- include('footer') %> 

</html>